// LMS-specific variables

$text-width-readability-max: 1080px;

// LMS-only colors
$audit-mode-color: rgb(74, 74, 74) !default;
$honor-mode-color: theme-color("primary") !default;
$verified-mode-color: theme-color("purchase") !default;
$professional-certificate-color: #9a1f60 !default;


// sign-in button
$btn-sign-in-bg: theme-color("primary") !default;
$btn-sign-in-color: theme-color("inverse") !default;
$btn-sign-in-border-color: theme-color("inverse") !default;

$btn-sign-in-hover-bg: theme-color("inverse") !default;
$btn-sign-in-hover-color: theme-color("primary") !default;
$btn-sign-in-hover-border-color: theme-color("primary") !default;

// register button
$btn-register-bg: theme-color("inverse") !default;
$btn-register-color: theme-color("primary") !default;
$btn-register-border-color: theme-color("primary") !default;

$btn-register-hover-bg: theme-color("primary") !default;
$btn-register-hover-color: theme-color("inverse") !default;
$btn-register-hover-border-color: theme-color("primary") !default;
