<%! from django.utils.translation import ugettext as _ %>
<div class="xblock-header-paging">
    <div class="header-details" data-displayed-children="${displayed_children}" data-total-children="${total_children}" />
</div>

% if can_reorder:
    <ol class="reorderable-container">
% endif
% for item in items:
    ${item['content']}
% endfor
% if can_reorder:
    </ol>
% endif

% if can_add:
    <div class="add-xblock-component new-component-item adding"></div>
% endif

% if paged:
    <div class="xblock-footer-paging">
        <section class="page">
            <nav>
                <ul>
                    <li class="last">
                        <a>${_('Previous page')}</a>
                    </li>
                    <li class="current-page">${current_page}</li>
                    <li class="total-pages">${total_pages}</li>
                    <li class="next">
                        <a>${_('Next page')}</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
% endif